@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CaseCore</h1>
    <p>Visit the project on GitHub: <a href="https://github.com/stringly/CaseCore">CaseCore</a>.</p>
</div>
